{{! Header file }}
<header id="main-header">
  <!-- Sitename + Logo + Tagline + navigation -->
  <a href="{{@blog.url}}" style="background: url({{@blog.logo}}) 0 0 / 100% auto no-repeat;">

  <h1 class="m-none">
    <a href="{{@blog.url}}">{{@blog.title}}</a>
  </h1>

  <p class="blog-description">{{@blog.description}}</p>

  {{navigation}}

  <!-- site navigation -->
  <nav>

  </nav>
</header>
