{{#foreach posts}}

      <article class="article" role="article" itemscope itemtype="http://schema.org/Article">
          <header class="post-header">

          <h1 class="post-title mb-none" itemprop="headline">
              <a href="{{{url}}}" rel="bookmark">{{title}}</a>
          </h1>

          <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
              {{date format='dddd DD MMM YYYY'}}
          </time>

          </header>

      <div class="post-content ptb-one mb-one" itemprop="articleBody">
          {{excerpt words = 30}} ...
      </div>



      {{#if tags}}
          <div class="post-tags">
              Tags: {{tags separator=" | "}}
          </div>
      {{/if}}

      </article>
{{/foreach}}


  {{pagination}}
