{{!< default}}

<main class="portfolio-container" role="main">
    {{#get "posts" filter="tags:work"}}
      {{#foreach posts}}

        <article class="portfolio-piece" role="article" itemscope itemtype="http://schema.org/Article">
          <header class="post-header">
            <a href="{{{url}}}"><img src={{image}} /></a>

            <!-- <h5 class="post-title mb-none" itemprop="headline">
              <a href="{{{url}}}" rel="bookmark">{{title}}</a>
            </h5> -->

          </header>

          <!-- {{#if tags}}
              <div class="post-tags">
                  Tags: {{tags separator=" | "}}
              </div>
          {{/if}} -->

        </article>
      {{/foreach}}
    {{/get}}

</main>

{{> footer}}
