{{!< default}}
{{> header}}
<main class="main" role="main">
    {{#foreach posts}}
        <article class="article" role="article" itemscope itemtype="http://schema.org/Article">
            <header class="post-header">
                <time class="date" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
                    {{date format='dddd DD MMM YYYY'}}
                </time>
            <h1 class="post-title" itemprop="headline">
                <a href="{{{url}}}" rel="bookmark">{{title}}</a>
            </h1>
            </header>
        <div class="post-content" itemprop="articleBody">
            {{content}}
        </div>
        {{#if tags}}
            <div class="post-tags">
                Tags: {{tags separator=" | "}}
            </div>
        {{/if}}
        </article>
    {{/foreach}}

    {{#if pagination}}
        <div class="pagination">
            {{{pagination}}}
        </div>
    {{/if}}
</main>
{{> footer}}
