{{!< default}}
{{>header}}
<main class="main" role="main">
{{#post}}

    <article class="article" role="article" itemscope itemtype="http://schema.org/Article">
        <header class="post-header">
            <time class="date" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
                {{date format='dddd DD MMM YYYY'}}
            </time>
        <h1 class="post-title" itemprop="headline">
            {{title}}
        </h1>
        </header>
    <div class="post-content" itemprop="articleBody">
        {{content}}
    </div>

    {{#if tags}}
        <div class="post-tags">
            Tags: {{tags separator=" | "}}
        </div>
    {{/if}}


    {{#if author}}
        <footer class="post-footer">

        </footer>
    {{/if}}

</article>

<!-- TODO: Check if the current post is of type (tag): "work" , if so, next post should be of same type. -->
{{> next-previous}}

{{/post}}


</main>
{{> footer}}
